<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.campusblog.mapper.RoleMapper">
    <select id="roles" resultType="com.zs.campusblog.entity.Role">
        select * from role where id != 1;
    </select>
    <insert id="addNewRole">
        insert into role set name=#{role}, description=#{description}
    </insert>
    <delete id="deleteRoleById" parameterType="Integer">
        delete from role where id=#{rid}
    </delete>
</mapper>